html,body{
    background-color:black;
    font-family:Avenir-Roman,sans-serif;
    color: white;
    background-image: url(https://i.imgur.com/s85FZkc.png)
  }
  body{
    display:flex;
  }
  
  .navbar{display:flex;
  }
  
  .padre{
     grid-template-columns:1fr 1fr 1fr;
  }
  .logo-disney{
  
    width: 30%;
      margin-top: 15px;
      margin-left: 20px;
     display: block;
    margin-left: auto;
    margin-right: auto;
   
  }
  .wrapper{
    margin-top: 100px;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    grid-gap:5px;
  
  }
  .wra{
    margin-top: 300px;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap:5px;
    text-align: center;
    opacity: 60%;
  }
  .btn{
   background-color:rgb(0, 114, 210); 
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 3px;
    padding: 15px;
  font-family:Helvetica;
     letter-spacing: 1px;
     text-align: center;
     align-content: center;
  }
  .di{
    margin-top: 80px;
    text-align:center;}
  .log{
      font-size: 15px;
    font-family: Helvetica;
    float:right;
  
  }
  a{
    color: inherit;
  }